<html>
    <head>
        <title>CPanel+</title>
        <link rel="stylesheet" href="../panel/main.css" type="text/css">
    </head>
    <body>
        <div class="rows" style="height: calc(100% - 20px);">
            <div style="width: 75%; display: block;">
                <div id="sites" class="box">
                    <div style="font-size: 40px; width: 100%; background: rgb(193, 226, 255); padding: 10px; border-radius: 5px 5px 0 0; margin: -10px;">Sites</div>
                    <br>
                    <% sites.forEach(site => { %>
                        <span><%= site.domain %> => <%= site.ip %>:<%= site.port %> By User <%= site.user %> </span><button onclick="deleteDNS('<%= site.domain %>');">Delete</button><br>
                    <% }) %>
                    <br><br><br>
                    <form method="POST" action="/addSite">
                        Domain
                        <input type="text" name="domain">
                        IP
                        <input type="text" name="ip">
                        Port
                        <input type="number" name="port">
                        <input type="submit" value="add">
                    </form>
                </div><br>
                <div id="logs" class="box" style="max-height: 500px; overflow: auto;">
                    <div style="font-size: 40px; width: 100%; background: rgb(193, 226, 255); padding: 10px; border-radius: 5px 5px 0 0; margin: -10px;">Logs</div>
                    <br>
                    <%- logs.split('\n').join('<br>') %>
                </div>
            </div>
            <div style="width: 20%; display: block; margin-left: 40px; height: 100%;">
                <div id="uh" class="box" style="height: 100%; overflow: auto;">
                    <div style="font-size: 40px; width: 100%; background: rgb(193, 226, 255); padding: 10px; border-radius: 5px 5px 0 0; margin: -10px;">Other</div><br />

                    Visitors: <%= tracking.length %>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    let logs = document.getElementById('logs')

    logs.scrollBy(0, 1000000)

    function deleteDNS(domain){
        const url = '/dns/delete';

        const data = {
            domain: domain
        };

        const options = {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        }

        fetch(url, options)
            .then(res => res.json())
            .then(res => {
                window.location = '/panel/home?t='+Math.random() * 10000000
            });
    }
</script>
